<header>

  <mat-toolbar id="menu">

    <ng-container *ngIf="(currentUser | async)" class="push-right">

      <span [routerLink]='["/chats"]'> PPChat </span>

      <span class="push-right" [routerLink]='["/chats"]'> Chats </span>
      <span class="push-right"> {{ (currentUser | async)?.username }} </span>
      <input type="text">
      <span class="push-right" (click)="logout()"> Logout </span>

    </ng-container>

    <ng-container *ngIf="!(currentUser | async)" class="push-right">

      <span [routerLink]='["/"]'>PPChat</span>

      <span class="push-right" [routerLink]='["/login"]'> Connexion </span>
      <span class="push-right" [routerLink]='["/register"]'> Inscription </span>

    </ng-container>



  </mat-toolbar>

</header>
