<header>

  <!-- <mat-toolbar id="menu">

    <ng-container *ngIf="(currentUser | async)" class="push-right">

      <span [routerLink]='["/chats"]'> PPChat </span>

      <span class="push-right" [routerLink]='["/chats"]'> Chats </span>
      <span class="push-right"> {{ (currentUser | async)?.username }} </span>
      <input type="text">
      <span class="push-right" (click)="logout()"> Logout </span>

    </ng-container>

    <ng-container *ngIf="!(currentUser | async)" class="push-right">

      <span [routerLink]='["/"]'>PPChat</span>

      <span class="push-right" [routerLink]='["/login"]'> Connexion </span>
      <span class="push-right" [routerLink]='["/register"]'> Inscription </span>

    </ng-container>

  </mat-toolbar> -->

  <div>

    <div>
      <!-- <a [routerLink]='["/chats"]' class="text-purple-100"> PPChat </a> -->
      <h1 class="text-4xl font-bold text-center text-blue-500">PPCHAT</h1>
    </div>

    <div>
      <a [routerLink]='["/chats"]'> Chats </a>
      <a > {{ (currentUser | async)?.username }} </a>
      <input type="text">
    </div>

    <div>
      <a [routerLink]='["/login"]'> Connexion </a>
      <a [routerLink]='["/register"]'> Inscription </a>
    </div>

  </div>

</header>
