<header>

  <nav>

    <div>
      <a [routerLink]='["/"]'> PPChat </a>
    </div>

    <ng-container *ngIf="(currentUser | async)">

      <div>

        <a [routerLink]='["/chats"]'> Chats </a>
        <a> {{ (currentUser | async)?.username }} </a>

      </div>

      <div>
        <a (click)="logout()"> Logout </a>
      </div>

    </ng-container>

    <ng-container *ngIf="!(currentUser | async)">
      <div>
        <a [routerLink]='["/login"]'> Connexion </a>
        <a [routerLink]='["/register"]'> Inscription </a>
      </div>
    </ng-container>

  </nav>

</header>
