<mat-sidenav-container clas="test" autosize>

  <mat-sidenav opened mode="side">
    <h2> Threads </h2>
    <ng-container *ngIf="threads">

      <section>

        <ng-container *ngFor="let thread of threads | async">

          <div (click)="onClick(thread.id)">
            {{ thread.id }}
          </div>

        </ng-container>

      </section>

    </ng-container>

  </mat-sidenav>
  <!-- Main content Main content Main content Main content Main content Main content Main content Main content Main content Main content -->
  <mat-sidenav-content>

    <app-chat></app-chat>

  </mat-sidenav-content>

</mat-sidenav-container>

<!-- <section>

  <aside>
    <ng-container *ngIf="threads">
      <ng-container *ngFor="let thread of threads | async">
        <div (click)="onClick(thread.id)">
          {{ thread.speakers }}
        </div>
      </ng-container>
    </ng-container>
  </aside>

  <article>
    <app-chat></app-chat>
  </article>

</section> -->
