<mat-sidenav-container clas="test" autosize>

  <mat-sidenav opened mode="side">
    <h2> Threads </h2>
    <ng-container *ngIf="threads">

      <section>

        <ng-container *ngFor="let thread of threads">

          <mat-card (click)="selectThread(thread.id)">
            <mat-card-content>

              <ng-container *ngFor="let speaker of thread.speakers">
                {{ speaker.username }} -
              </ng-container>

            </mat-card-content>
          </mat-card>

        </ng-container>

      </section>

    </ng-container>

  </mat-sidenav>

  <mat-sidenav-content>

    <app-chat [thread]="selectedThread"></app-chat>

  </mat-sidenav-content>

</mat-sidenav-container>
