<mat-sidenav-container clas="test" autosize>

  <mat-sidenav opened mode="side">
    <h2> Threads </h2>
    <ng-container *ngIf="threads">

      <section>

        <ng-container *ngFor="let thread of threads | async">

          <mat-card (click)="onClick(thread.id)">
            <mat-card-content>
              {{ searchName(thread.speakers) }}
              <!-- <ng-container *ngFor="let name of thread.speakers">
                {{ name }} -
              </ng-container> -->

            </mat-card-content>
          </mat-card>

        </ng-container>

      </section>

    </ng-container>

  </mat-sidenav>

  <mat-sidenav-content>

    <app-chat></app-chat>

  </mat-sidenav-content>

</mat-sidenav-container>
