<div>
  <form [formGroup]="findUserForm" (ngSubmit)="searchUser()">

    <input type="text" formControlName="findUser" class="px-2" value="{{search}}">
    <button type="submit"> Search </button>

  </form>

  <ng-container *ngIf="findUserForm.value">

    <span *ngIf="isLoading">Loading</span>

    <ng-container *ngIf="search?.length > 0 && filteredUsers?.length > 0; then showResult; else showNothing">
    </ng-container>

    <ng-template #showResult>

      <mat-list>

        <ng-container *ngFor="let user of filteredUsers">

          <mat-list-item>
            {{ user.username }}
            <i (click)="addContact(user.id)" class="material-icons"> person_outline </i>
          </mat-list-item>

        </ng-container>

      </mat-list>

    </ng-template>

    <ng-template #showNothing>

      Aucuns résultats

    </ng-template>

  </ng-container>

</div>

<div>
  <h2> Mes contacts </h2>

  <ng-container *ngIf="contacts">

    <mat-list>

      <ng-container *ngFor="let contact of contacts">

        <mat-list-item>
          {{ contact.username }}
          <i (click)="removeContact(contact.id)" class="material-icons"> delete_outline </i>
        </mat-list-item>

      </ng-container>

    </mat-list>

  </ng-container>
</div>
