<div>
  <form [formGroup]="findUserForm" (ngSubmit)="searchUser()">

    <input type="text" formControlName="findUser" class="px-2" value="{{search}}">
    <button type="submit"> Search </button>

  </form>

  <ng-container *ngIf="findUserForm.value">

    <span *ngIf="isLoading">Loading</span>

    <ng-container *ngIf="search?.length > 0 && filteredUsers?.length > 0; then showResult; else showNothing">
    </ng-container>

    <ng-template #showResult>

      <ng-container *ngFor="let user of filteredUsers">
          {{ user.username }}
          <i (click)="addContact(user.id)" class="fas fa-user-plus"></i>
      </ng-container>

    </ng-template>

    <ng-template #showNothing>

      Aucuns résultats

    </ng-template>

    <!-- <ng-container *ngIf="search?.length > 0 && filteredUsers?.length > 0; then showResult; else showNothing"></ng-container>

      <ng-template #showResult *ngFor="let user of filteredUsers">

        {{ user.username }}
        <i (click)="addContact(user.id)" class="fas fa-user-plus"></i>

      </ng-template>

      <ng-template #showNothing>

        Aucuns résultats

      </ng-template> -->

  </ng-container>

</div>

<div>
  <h2> Mes contacts </h2>

  <ng-container *ngIf="contacts">

    <ul>

      <ng-container *ngFor="let contact of contacts">

        <li>
          {{ contact.username }}
          <i (click)="removeContact(contact.id)" class="fas fa-trash"></i>
        </li>

      </ng-container>

    </ul>

  </ng-container>
</div>
