<div class="flex flex-row">

  <div class="w-2/12 border-r h-screen pt-2">

    <input type="search" name="search" [(ngModel)]="searchThread" placeholder="Rechercher">

    <h2 class="text-color"> Threads </h2>

    <ng-container *ngIf="threads">

      <section>

        <ng-container *ngFor="let thread of threads | ThreadFilter: searchThread">

          <div id="thread" (click)="selectThread(thread.id)">

            <p class="text-color"> {{ thread.speakers | PrintSpeakers }} </p>

          </div>

        </ng-container>

      </section>

    </ng-container>

  </div>

  <div class="w-10/12 bg-chat h-screen pt-2">
    <app-chat [thread]="selectedThread"></app-chat>
  </div>

</div>
