<div class="row">

  <div class="col s2">

    <button data-target="modalNewThread" class="btn modal-trigger"> New Thread </button>

    <div id="modalNewThread" class="modal">

      <div class="modal-content">

        <form [formGroup]="newThreadForm" (ngSubmit)="createNewThread()">

          <div formArrayName="contactsArray" *ngFor="let contact of newThreadForm.get('contactsArray').value">

            <input id="contact.id" type="checkbox" value="contact.id" name="contact.username">
            <label for="contact.id"> {{ contact.username }}</label>

          </div>

          <button type="submit"> valider </button>
          <button (click)="toggleModal()"> annuler </button>

        </form>

      </div>

      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>

    <button>
      New Thread
    </button>

    <div class="modal" [ngStyle]="{display: showModal ? 'block' : 'none'}">
      <div class="overlay" (click)="toggleModal()"></div>
      <div class="modal_content">

        <form [formGroup]="newThreadForm" (ngSubmit)="createNewThread()">
          <div formArrayName="contactsArray" *ngFor="let contact of newThreadForm.get('contactsArray').value">

            <input id="contact.id" type="checkbox" value="contact.id" name="contact.username">
            <label for="contact.id"> {{ contact.username }}</label>

          </div>

          <button type="submit"> valider </button>
          <button (click)="toggleModal()"> annuler </button>

        </form>

        <button title="Close" class="close_modal" (click)="toggleModal()">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <input type="search" name="search" [(ngModel)]="searchThread" placeholder="Rechercher">

    <h2> Threads </h2>

    <ng-container *ngIf="threads">

      <section>

        <ng-container *ngFor="let thread of threads | ThreadFilter: searchThread">

          <div id="thread" (click)="selectThread(thread.id)">

            <p> {{ thread.speakers | PrintSpeakers }} </p>
            <i (click)="removeThread(thread.id)" class="fas fa-trash"></i>

          </div>

        </ng-container>

      </section>

    </ng-container>

  </div>

  <div class="col s10">
    <app-chat [thread]="selectedThread"></app-chat>
  </div>

</div>
