<div class="flex flex-row">

  <div class="w-2/12 border-r h-screen pt-2">

    <button class="modal_opener" (click)="toggleModal()">
      New Thread
    </button>

    <div class="modal" [ngStyle]="{display: showModal ? 'block' : 'none'}">
      <div class="overlay" (click)="toggleModal()"></div>
      <div class="modal_content">

        <form [formGroup]="newThreadForm" (ngSubmit)="createNewThread()">
          <div formArrayName="contactsArray"
            *ngFor="let contact of newThreadForm.get('contactsArray').value">

            <input id="contact.id" type="checkbox" value="contact.id"
              name="contact.username">
            <label for="contact.id"> {{ contact.username }}</label>

          </div>

          <button type="submit"> valider </button>
          <button (click)="toggleModal()"> annuler </button>

        </form>

        <button title="Close" class="close_modal" (click)="toggleModal()">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <input type="search" name="search" [(ngModel)]="searchThread" placeholder="Rechercher">

    <h2 class="text-color"> Threads </h2>

    <ng-container *ngIf="threads">

      <section>

        <ng-container *ngFor="let thread of threads | ThreadFilter: searchThread">

          <div id="thread" (click)="selectThread(thread.id)">

            <p class="text-color"> {{ thread.speakers | PrintSpeakers }} </p>
            <i (click)="removeThread(thread.id)" class="fas fa-trash"></i>

          </div>

        </ng-container>

      </section>

    </ng-container>

  </div>

  <div class="w-10/12 bg-chat h-screen pt-2">
    <app-chat [thread]="selectedThread"></app-chat>
  </div>

</div>
