<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">

      <a class="navbar-brand" [routerLink]='["/"]'>PPChat</a>

      <a class="nav-link text-dark" *ngIf="!currentUser" [routerLink]='["/login"]'>Connexion</a>
      <a class="nav-link text-dark" *ngIf="!currentUser" [routerLink]='["/register"]'>Inscription</a>
      <p *ngIf="currentUser"> {{currentUser.username}} </p>
      <a class="nav-link text-dark" *ngIf="currentUser" (click)="logout()">Logout</a>


    </div>
  </nav>
</header>
